<div class="container-fluid w-100 d-flex align-items-center bg-dark justify-content-center flex-wrap text-white" style="min-height: 100vh">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidation class="p-5">
      
      <div class="form-container">
        <h1 *ngIf="!chosenOne">Jelentkezz be!</h1>
        <h1 *ngIf="chosenOne">Regisztrálj be!</h1>
  
        <div class="form-group">
          <input [(ngModel)]="username" formControlName="username" type="text" placeholder="&#xf508; Felhasználónév"
          class="form-control rounded-0 bg-transparent border-top-0 border-right-0 border-left-0 border-warning text-white p-2"/>
        </div>
        
        <div *ngIf="chosenOne" class="form-group">
          <input [(ngModel)]="email" formControlName="email" type="email"  placeholder="&#xf084; Email"
          class="form-control rounded-0 bg-transparent border-top-0 border-right-0 border-left-0 border-warning text-white p-2"/>
        </div>

        <div class="form-group">
          <input [(ngModel)]="password" formControlName="password" type="password" placeholder="&#xf084; Jelszó" 
          class="form-control rounded-0 bg-transparent border-top-0 border-right-0 border-left-0 border-warning text-white p-2"/>
        </div>
  
        <div *ngIf="chosenOne" class="form-group">
          <input [(ngModel)]="confirmPassword" formControlName="confirmPassword" type="password"  placeholder="&#xf084; Jelszó megerősítése"
          class="form-control rounded-0 bg-transparent border-top-0 border-right-0 border-left-0 border-warning text-white p-2"/>
        </div>
  
        <button [disabled]="!loginForm.valid" *ngIf="!chosenOne" class="btn btn-primary w-100 text-uppercase font-weight-bold" type="submit">Bejelentkezés</button>
        <button [disabled]="!loginForm.valid" *ngIf="chosenOne" class="btn btn-primary w-100 text-uppercase font-weight-bold" type="submit">Regisztráció</button>
  
        <hr class="border-white"/>
        <a (click)="forgetPassword()" class="text-white">Elfelejtetted a jelszavad?</a>
  
        <button [disabled]="" *ngIf="!chosenOne" class="btn btn-info w-100 text-uppercase font-weight-bold d-block mt-2" 
        (click)="switchChosenOne(true)" type="button">Új fiók létrehozása</button>
  
        <button *ngIf="chosenOne" class="btn btn-info w-100 text-uppercase font-weight-bold d-block mt-2" 
        (click)="switchChosenOne(false)" type="button">Van már fiókom</button>

      </div>
  
    </form>
  
  </div>