<div *ngIf="canShowData" class="container-fluid d-flex m-0 p-0 flex-wrap position-relative" style="min-height:100vh">
    <h1 class="rating-question text-uppercase text-center">Melyiknek nagyobb az értékelése?</h1>
    <div class="image-container left-side">
      <img id="imageLeft" src="{{leftElement['background_image']}}"/>
      <div class="title-container text-center text-uppercase">
        <h2 class="image-title">{{leftElement["name"]}}</h2>
        <h1 class="image-title text-danger">{{leftElement["rating"]}}</h1>
      </div>
    </div>
    <div class="image-container right-side">
      <img id="imageRight" src="{{rightElement['background_image']}}"/>
      <div class="title-container text-center text-up text-uppercase">
        <h2 class="image-title">{{rightElement["name"]}}</h2>
        <button class="btn btn-success text-uppercase answer-button d-block m-auto" (click)="submitAnswer(true)">
          <h1 class="image-title"><i class="fa fa-arrow-up"></i></h1>
        </button>
        <button class="btn btn-danger text-uppercase answer-button d-block m-auto" (click)="submitAnswer(false)">
          <h1 class="image-title"><i class="fa fa-arrow-down"></i></h1>
        </button>
      </div>
    </div>
    <div class="score-container text-uppercase">
      <span class="score-counter text-warning">Pont: {{currentScore}}</span>
    </div>
    <div class="got-point-container bg-success" [@showExtraPoint]="showExtraPoint">
      <span class="got-point">+1</span>
    </div>
</div>

<div *ngIf="!canShowData"  class="d-flex align-items-center justify-content-center bg-dark position-relative" style="min-height: 100vh">
  <img *ngIf="!gotError" class="loading" src="https://media3.giphy.com/media/vbeNMLuswd7RR25lah/giphy.gif?cid=790b761177b8ceee461ec89e768e1de1d32fc92df7c45398&rid=giphy.gif&ct=g"/>
  <img *ngIf="gotError" class="error" src="https://media3.giphy.com/media/XIahGhbK5A685fyr8D/giphy.gif?cid=ecf05e47971o6ogm0vyo76i25etx8ttki03jrb495ow5smcn&rid=giphy.gif&ct=g"/>
  <h3 *ngIf="gotError" class="text-danger text-center text-uppercase bg-white p-3">A játék nem tudott lefutni, jelezd a fejlesztőknek!</h3>
</div>

    