@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nerko+One&family=Roboto&family=Work+Sans&display=swap');

img.loading, img.error{
    height: 100vh;
    width: 100%;
    object-fit: fill;
}

.play-container button:focus{
    box-shadow: none;
}

.play-container img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}


.play-container .image-container{
    position: relative;
    height: 50vh;
    max-height: 50vh;
    width: 100%;
    display: block;
    overflow: hidden;
}

.play-container .image-container::before{
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.7);
}

.play-container .title-container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.play-container .image-container:first-of-type .title-container{
    top: 70%;
}

.play-container .got-point-container{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
    border-radius: 50%;
    transform-origin: center;
}

.play-container span.got-point{
    position: absolute;
    top: calc(25% + 30px);
    left: 50%;
    transform: translate(-50%, -50%);
}

.play-container .score-container{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.play-container .score-counter{
    font-family: "Anton", sans-serif;
    font-size: 2rem;
}

.play-container h1{
    font-size: 2rem!important;
    font-family: "Oswald", sans-serif;
    width: 95%;
    margin: auto;
}

.play-container h2{
    font-size: 2rem!important;
    font-family: "Nerko One", sans-serif;
    font-style: italic;
}

.play-container h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem!important;
}

.play-container h1.rating-question{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    z-index: 99;
    width: 95%;
}

.play-container .answer-button{
    font-family: "Anton", sans-serif;
    width: 100%;
    max-width: 425px;
    border-radius: 0;
}

.play-container .answer-button:first-of-type{
    margin-bottom: .5rem!important;
}


/* JÁTÉK VÉGE PANEL */
.won-game-container {
    position: relative;
    z-index: 1;
    min-width: 320px;
}
  
.modal-content {
    position: relative;
    z-index: 2;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 75%;
    filter: brightness(125%);
}

.won-game-container .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
  
.won-game-container .btn {
    width: 100%;
}

.won-game-container h1{
    font-size: 2rem;
}

.won-game-container h2,
.won-game-container .btn{
    font-size: 1.5rem;
}
  
  

/* MOBILE L */
@media(min-width: 425px)
{
    .play-container h1{
        font-size: 3rem!important;
    }
    
    .play-container h2{
        font-size: 2.5rem!important;
    }

    .play-container .answer-button{
        border-radius: 0.25rem;
    }
}

/* TABLET */
@media(min-width: 768px)
{
    .play-container .image-container{
        height: 100vh;
        width: 50%!important;
        max-height: unset;
    }

    .play-container h1{
        font-size: 3.5rem!important;
    }

    .play-container h2{
        font-size: 3rem!important;
    }

    .play-container .title-container, 
    .image-container:first-of-type .title-container{
        top: 50%;
    }

    .won-game-container .btn {
        width: 50%;
    }

    .modal-content{
        width: 50%;
    }

    .won-game-container h1{
        font-size: 2.5rem;
    }
    
    .won-game-container h2{
        font-size: 2rem;
    }
}

/* LAPTOP | DESKTOP */
@media(min-width: 1280px)
{
    .play-container h1{
        font-size: 5rem!important;
    }

    .play-container h2{
        font-size: 4.5rem!important;
    }

    .won-game-container .btn{
        font-size: 2rem;
    }
}